{# lists all the relevant things either with a form or in a div, optionally #}
{% if form %}
{% macro entry(type_of_data, name, value=None, class="", type="text", prefix="", input_html_tag="input") -%}
    {% if report %}
    {% if name in report %}
    {{ type_of_data }}: {{ prefix }}<{{ input_html_tag }} name='{{ name }}' value='{{ report[name] }}' class='{{ class }}' type='{{ type }}'/>
    {% else %}
    {{ type_of_data }}: {{ prefix }}<{{ input_html_tag }} name='{{ name }}' value='{{ value }}' class='{{ class }}' type='{{ type }}'/>
    {% endif %}
    {% elif value == None %}
    {{ type_of_data }}: {{ prefix }}<{{ input_html_tag }} name='{{ name }}' class='{{ class }}' type='{{ type }}'/>
    {% else %}
    {{ type_of_data }}: {{ prefix }}<{{ input_html_tag }} name='{{ name }}' value='{{ value }}' class='{{ class }}' type='{{ type }}'/>
    {% endif %}
{%- endmacro %}
{% else %}
    {# then the `report` variable exists #}
{% macro entry(type_of_data, name, value=None, class="", type="text", prefix="", input_html_tag="") -%}
    <strong>{{ type_of_data }}</strong>: {{ prefix }}<span name='{{ name }}'>{{ report[name] }}</span>
    {% if preview %}
    <input name='{{ name }}' value="{{ report[name] }}" type="hidden"/>
    {% endif %}
{%- endmacro %}
{% endif %}

{% macro hspace() -%}
    <span style="padding-left: 20px;"> &nbsp; </span>
{%- endmacro %}

{% if form %}
<form action="/previewreport" method="GET" id="preview_or_submit_form">
{% elif preview %}
<form action="/createreport" method="POST">
{% endif %}

{% if form %}
<input type="hidden" name="old_date_string" value="{{ report['date_string'] }}"/>
{% elif preview and old_date_string %}
<input type="hidden" name="old_date_string" value="{{ old_date_string }}"/>
{% endif %}

<div class="bluebackground">
<div class="parent fixedwidthreport">
    {% if hidetitleimg %}
    <img class="centerimg titleimg" src="/images/logo.jpg"/>
    {% endif %}
    <h2 class="textcenter"> Nightly Report </h2> 
    {% if form %}
    <div class="textcenter">
    {{ entry('Date (yyyy-mm-dd)', 'date', value=report['date_string']) }}
    </div> 
    {% else %}
    {% if preview %}
    <input type="hidden" name="date" value="{{ report["date"] }}"/>
    {% endif %}
    <div class="textcenter">
    {{ report["readable_date_string"] }}
    </div> 
    {% endif %}

    <hr style="margin-top: 20px; margin-bottom: 20px">

    <div class="textcenter">
    <strong>Yearly goal</strong>: <span name='year_goal'> {{ report['year_goal'] if report['year_goal'] else global_stats.year_goal }} </span>
    {{ hspace() }}
    <strong>Monthly goal</strong>: <span name='month_goal'> {{ report['month_goal'] if report['month_goal'] else global_stats.month_goal }} </span>
    </div> 
    <div class="textcenter">
    <strong>Yearly dream goal</strong>: <span name='yearly_dream_goal'> {{ report['yearly_dream_goal'] if report['yearly_dream_goal'] else global_stats.yearly_dream_goal }} </span>
    {{ hspace() }}
    <strong>Daily dream goal</strong>: <span name='daily_dream_goal'>
    {% if 'daily_dream_goal' in report %}
    {{ report['daily_dream_goal'] }}
    {% elif 'datetime_obj' in report %}
    {{ global_stats.daily_dream_goal(datetime_obj=report['datetime_obj']) }}
    {% else %}
    {{ global_stats.daily_dream_goal() }}
    {% endif %}
    </span>
    </div> 

    <hr style="margin-top: 20px; margin-bottom: 20px">

    {% if not form %}
    <div class="textcenter">
    {{ entry('Customers this year', 'customers_this_year', class="shorttextbox") }}
    </div> 
    <div class="textcenter">
    {{ entry('Dreams this year', 'dreams_this_year', class="shorttextbox") }}
    </div> 
    <div class="textcenter">
    {{ entry('Dream achievement rate', 'achievement_rate', class="shorttextbox") }}
    </div> 
    {% if 'dreamers' in report and report['dreamers'] and 'customers_today' in report and report['customers_today'] %}
    <div class="textcenter">
    <strong>Dreamer to customer ratio</strong>: <span name='percent_dreamers'>{{ '%0.2f' | format(100.0 * (report['dreamers']|float) / report['customers_today']) }}%</span>
    </div> 
    {% endif %}

    <hr style="margin-top: 20px; margin-bottom: 20px">
    {% endif %}

    <div class="textcenter">
    {{ entry('Lunch customers today', 'lunch_customers_today', type="number", class="shorttextbox") }}
    {% if not form %}
    {{ hspace() }}
    {{ entry('Dinner customers today', 'dinner_customers_today', type="number", class="shorttextbox") }}
    {% endif %}
    {{ hspace() }}
    {{ entry('Total customers', 'customers_today', type="number", class="shorttextbox") }}
    </div> 

    <div class="textcenter">
    {{ entry('Lunch dreams today', 'lunch_dreams', type="number", class="shorttextbox") }}
    {% if not form %}
    {{ hspace() }}
    {{ entry('Dinner dreams today', 'dinner_dreams', type="number", class="shorttextbox") }}
    {% endif %}
    {{ hspace() }}
    {{ entry('Total dreams', 'dreams', type="number", class="shorttextbox") }}
    </div> 

    <div class="textcenter">
    {{ entry('Lunch dreamers today', 'lunch_dreamers', type="number", class="shorttextbox") }}
    {% if not form %}
    {{ hspace() }}
    {{ entry('Dinner dreamers today', 'dinner_dreamers', type="number", class="shorttextbox") }}
    {% endif %}
    {{ hspace() }}
    {{ entry('Total dreamers', 'dreamers', type="number", class="shorttextbox") }}
    </div> 

    <hr style="margin-top: 20px; margin-bottom: 20px">

    <div class="textcenter">
    {{ entry('Working members', 'working_members', class="longtextbox") }}
    </div> 
    <div class="textcenter">
    {{ entry('Supporting members', 'supporting_members', class="longtextbox") }}
    </div> 
    <div class="textcenter">
    {{ entry('Visiting members', 'visiting_members', class="longtextbox") }}
    </div> 

    <hr style="margin-top: 20px; margin-bottom: 20px">

    <div class="textcenter">
    {% if form %}
    {{ entry("End time (hh:mm)", 'end_time', class="shorttextbox") }}
    {% else %}
    {{ entry("End time", "end_time") }}
    {% endif %}
    {{ hspace() }}
    {{ entry("Positive cycle", "positive_cycle", type="number", class="shorttextbox", prefix="$") }}
    </div> 

    <div class="textcenter">
    {{ entry("Total bowls", "total_bowls", type="number", class="shorttextbox") }}
    {{ hspace() }}
    {{ entry("Total cups", "total_cups", type="number", class="shorttextbox") }}
    </div> 

    <div class="textcenter">
    {{ entry("Chopsticks missing", "chopsticks_missing", type="number", class="shorttextbox") }}
    {{ hspace() }}
    {{ entry("Money off by", "money_off_by", type="number", class="shorttextbox", prefix="$") }}
    </div> 

    <hr style="margin-top: 20px; margin-bottom: 20px">

    <div class="textcenter">
    {% if form %}
    Misc notes:
    <br/>
    <textarea class="longtextbox" id="misc_notes_textarea">{{ report['misc_notes'] }}</textarea>
    <input type="hidden" name="misc_notes" value="{{ report['misc_notes'] }}" id="misc_notes_input"/>
    {% else %}
    <strong>Misc notes</strong>: <span name='misc_notes'>
    {% for line in report["misc_notes"].split('\n') %}
     <br/>
     {{ line }}
    {% endfor %}</span>
    {% if preview %}
    <input type="hidden" name="misc_notes" value="{{ report['misc_notes'] }}" id="misc_notes_input"/>
    {% endif %}
    {% endif %}
    </div> 
    <hr style="margin-top: 20px; margin-bottom: 20px">

<div id="errortext" style="color: red"></div>
{% if not form %}
{% if preview %}
<input type="submit" formaction="/createreport" formmethod="get" value="Edit" class="btn"/>
{% else %}
<a href="/createreport?date={{ report['date_string'] }}" style="text-decoration: none;">
<input type="button" class="btn" value="Edit">
</a>
{% endif %}
{% endif %}
{% if form %}
<input type="submit" class="btn" value="Preview" formaction="/previewreport" formmethod="get"/>
<input type="submit" class="btn" value="Submit" formaction="/createreport" formmethod="post" onclick="window.submit_clicked = true;"/>
{% elif preview %}
<input type="submit" class="btn" value="Submit" formaction="/createreport" formmethod="post"/>
{% else %}
{% if report['is_past_2017'] %}
<form id="delete-form" action="/deletereport/{{ report['date_string'] }}" method="post" style="display: inline;">
<button onclick="delete_button_click()" class="btn">Delete</button>
</form>
{% endif %}
{% endif %}

</div> 
</div> 

{% if form %}
<script>
window.submit_clicked = false;
function validateEntry(name, regex) {
    /*
    looks for the input with `name`, and if it doesn't match the right regex,
    highlights it in red and return false
    otherwise return true
    */
    var input = $('input[name='+name+']')[0];
    if (!input) {
        console.log('no input named '+name);
        return true;
    }
    var valid = regex.test(input.value);
    if (!valid) {
        setTimeout(function(){
            $(input).css({'border-color': 'red'});
        }, 500);
        return false;
    } else {
        $(input).css({'border-color': ''});
        return true;
    }
}

function fillMiscNotes() {
    var misc_notes = $("#misc_notes_textarea").val();
    $("#misc_notes_input").val(misc_notes);
}

function validateAllEntries(event) {
    event.preventDefault();
    fillMiscNotes();
    /* An incomplete form can be submitted if all of these forms are inputted (bare minimum) */
    var lunch_regexes = { 
        'date': /^\d\d\d\d-\d\d-\d\d$/,

        'lunch_customers_today': /^\d+$/,
        'lunch_dreams': /^\d+$/,
        'lunch_dreamers': /^\d+$/,
    };
    /* If any of these are there, they all must be there. */ 
    var regexes = { 
        'customers_today': /^\d+$/,
        'dreams': /^\d+$/,
        'dreamers': /^\d+$/,

        'end_time': /^(\d\d:\d\d|\d\d\d\d)$/,
        'total_bowls': /^\d+$/,
        'chopsticks_missing': /^\d+$/,
        'positive_cycle': /^\d+$/,
        'total_cups': /^\d+$/,
        'money_off_by': /^\$?\-?\d+$/,
    };
    var allValid = true;
    var anyValid = false;
    for (var name in lunch_regexes) {
        var regex = lunch_regexes[name];
        var valid = validateEntry(name, regex);
        allValid = allValid && valid;
    }
    if (!allValid) {
        $("#errortext").html("Invalid entry. Please enter the correct information in the boxes highlighted in red, and resubmit.");
        return false;
    }
    allValid = true;
    for (var name in regexes) {
        var regex = regexes[name];
        var valid = validateEntry(name, regex);
        allValid = allValid && valid;
        anyValid = anyValid || valid;
    }
    if (anyValid && !allValid) {
        $("#errortext").html("Invalid entry. Please enter the correct information in the boxes highlighted in red, and resubmit.");
        return false;
    } else {
        if (window.submit_clicked) {
            $('form#preview_or_submit_form').attr('action', '/createreport');
            $('form#preview_or_submit_form').attr('method', 'post');
            $('form#preview_or_submit_form').unbind('submit').submit();
            return true;
        } else {
            $('form#preview_or_submit_form').attr('action', '/previewreport');
            $('form#preview_or_submit_form').attr('method', 'get');
            $('form#preview_or_submit_form').unbind('submit').submit();
            return true;
        }
    }
}

function prefillDate() {
    var today = new Date();
    var hours = today.getHours();
    if (hours < 13) {
        today = new Date(today.getTime() - (24 * 60 * 60 * 1000));
    }
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0'+dd;
    }
    if (mm < 10) {
        mm = '0'+mm;
    }

    var date_string = '' + yyyy + '-' + mm + '-' + dd;
    if (!$("input[name='date']").val()) {
        $("input[name='date']").val(date_string);
    }
}

$(document).ready(prefillDate);

/* if we return false, the form won't be submitted */
$("form").submit(validateAllEntries);
</script>
{% endif %}

{% if form %}
</form>
{% else %}
<script>
$('#delete-form').submit(function() {
    var c = confirm("Are you sure you want to delete this report? Press OK to delete, Cancel to keep the report.");
    return c;
});
</script>

{% endif %}


