{% extends "base.html" %}
{% block body %}
<form action="/editgoals" method="POST">
<div class="bluebackground">
<div class="parent fixedwidthreport">
<h3>Goals:</h3>

Yearly dream goal: 
<input name='yearly_dream_goal' value="{{ goals.yearly_dream_goal }}" type="number"/>
<br>
Month goal: 
<input name='month_goal' value="{{ goals.month_goal }}" type="text"/>
<br>
Year goal: 
<input name='year_goal' value="{{ goals.year_goal }}" type="text"/>

<br>
<br>

<input type="submit" class="btn" value="Submit"/>

<hr>

<h3>Statistics:</h3>
<strong>Total yearly customers</strong>: <span>{{ goals.customers_this_year }}</span>
<br>
<strong>Total yearly dreams</strong>: <span> {{ goals.dreams_this_year }}</span>
<br>
<strong>Dreams remaining until goal</strong>: <span>
{% if goals.yearly_dream_goal - goals.dreams_this_year > 0 %}
{{ goals.yearly_dream_goal - goals.dreams_this_year }}
{% else %} 
0
{% endif %}
</span>


</div>
</div>
</form>

{% endblock %}

