{% extends "base.html" %}
{% block body %}
    {% if reports %}
    <div class="fixedwidthreport">
    <strong>Total yearly customers</strong>: <span>{{ goals.customers_this_year }}</span>
    <br>
    <strong>Total yearly dreams</strong>: <span> {{ goals.dreams_this_year }}</span>
    <br>
    <strong>Dreams remaining until goal</strong>: <span>
    {% if goals.yearly_dream_goal - goals.dreams_this_year > 0 %}
    {{ goals.yearly_dream_goal - goals.dreams_this_year }}
    {% else %}
    0
    {% endif %}
    </span>
    <br>
    <strong>Recent end times</strong>: <br>
    <span>
    {% for recent_report in reports[:5]|reverse %}
      {% set day_letter = recent_report.readable_date_string[:3] %}
      {% if recent_report.get_end_time() %}
          {% set end_time_display = day_letter + ": " + recent_report.get_end_time().strftime("%H:%M") %}
          {{ end_time_display }}
      {% endif %}
      {% if not loop.last %}, {% endif %}
    {% endfor %}
    </span>
        <br>
        <br>
        <hr>
        Recent reports: 
        <ul>
        {% for report in reports %} {# assumes list is sorted #}
        <li>
            <a href="/report/{{ report.date_string }}">{{ report.readable_date_string }} ({{ report.customers_today }} customers, {{ report.dreams }} dreams,
 {{ report.dreamers }} dreamers{% if report.get_end_time() %}, {{ report.get_end_time().strftime("%H:%M") }} end time{% endif %})</a>
        </li>
        {% endfor %}
        </ul>
    </div>
    {% else %}
    <div class="centertext">
        No reports yet. Get to work!
    </div>
    {% endif %}
{% endblock %}
