{% extends "base.html" %}
{% block body %}
    {% if reports %}
    <div class="fixedwidthreport">
        <br>
        Reports: 
        <ul>
        {% for report in reports %} {# assumes list is sorted #}
        <li>
            <a href="/report/{{ report.date_string }}">{{ report.readable_date_string }} ({{ report.dreams }} dreams)</a>
        </li>
        {% endfor %}
        </ul>
    </div>
    {% else %}
    <div class="centertext">
        No reports yet. Get to work!
    </div>
    {% endif %}
{% endblock %}

