{% extends "base.html" %}
{% block body %}
<div class="fixedwidthreport">
    <a href="/dreamcalculator">Yume Dream Calculator</a>
    <hr>
    <strong>Total yearly dreams</strong>: <span> {{ goals.dreams_this_year }}</span>
    <br>
    <strong>Dream Goal</strong>: {{ goals.yearly_dream_goal }}
    <br>
    <strong>Dreams remaining until goal</strong>: <span>
    {% if goals.yearly_dream_goal - goals.dreams_this_year > 0 %}
    {{ goals.yearly_dream_goal - goals.dreams_this_year }}
    {% else %}
    0
    {% endif %}
    </span>
    <br>
    <hr>
    {% for stats_dict in monthly_stats_list %}
        <h2> {{ stats_dict['month_string'] }} ({{ stats_dict['num_reports'] }} shifts) </h2>
        <table>
        <tr>
            <th></th>
            <th> Dreams </th>
            <th> Dreamers </th>
            <th> Customers </th>
        </tr>
        <tr>
            <td> <strong> Average </strong> </td>
            <td> {{ stats_dict['average_dinner_dreams'] }} </td>
            <td> {{ stats_dict['average_dinner_dreamers'] }} </td>
            <td> {{ stats_dict['average_dinner_customers'] }} </td>
        </tr>
        <tr>
            <td> <strong> Total </strong> </td>
            <td> {{ stats_dict['total_dinner_dreams'] }} </td>
            <td> {{ stats_dict['total_dinner_dreamers'] }} </td>
            <td> {{ stats_dict['total_dinner_customers'] }} </td>
        </tr>
        </table>

        <br>
        <div> <strong>Average dream achievement rate</strong>: {{ stats_dict['average_dream_achievement_rate'] }}% </div>
    {% endfor %}

    {#
    <br>
    <hr>
    <br>

    <h2> Weekly customer counts (lunch): </h2>
    <table>
    <tr>
        <th> Date </th>
        <th> Tuesday </th>
        <th> Wednesday </th>
        <th> Thursday </th>
        <th> Friday </th>
        <th> Saturday </th>
        <th> Total </th>
    </tr>
    {% for (tue, wed, thu, fri, sat, total) in weekly_lunch_stats_matrix %}
    <tr>
        <td> {{ tue[0].strftime('%b %-d') }} </td>
        <td> {{ tue[1] }} </td>
        <td> {{ wed[1] }} </td>
        <td> {{ thu[1] }} </td>
        <td> {{ fri[1] }} </td>
        <td> {{ sat[1] }} </td>
        <td> {{ total }} </td>
    </tr>
    {% endfor %}
    </table>


    <h2> Weekly customer counts (dinner): </h2>
    <table>
    <tr>
        <th> Date </th>
        <th> Tuesday </th>
        <th> Wednesday </th>
        <th> Thursday </th>
        <th> Friday </th>
        <th> Saturday </th>
        <th> Total </th>
    </tr>
    {% for (tue, wed, thu, fri, sat, total) in weekly_dinner_stats_matrix %}
    <tr>
        <td> {{ tue[0].strftime('%b %-d') }} </td>
        <td> {{ tue[1] }} </td>
        <td> {{ wed[1] }} </td>
        <td> {{ thu[1] }} </td>
        <td> {{ fri[1] }} </td>
        <td> {{ sat[1] }} </td>
        <td> {{ total }} </td>
    </tr>
    {% endfor %}
    </table>
    #}

</div>
{% endblock %}
