body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.content {
    border-top: 2px solid #000;
    padding-top: 5px;
}

.parent {
    text-align: center;
}

.bluebackground {
    background-color: #497DCA;
}

.fixedwidthreport {
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
}

.navlinks {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

.titleimg {
    padding-bottom: 5px;
}

.centerimg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.centertext {
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    text-align: center;
}

input.longtextbox {
    width: 20em;
}

input.shorttextbox {
    width: 5em;
}

input[type='text'],
input[type='number']
{
    margin-top: 5px;
}

